@model Viaggio

<body style="position:relative; height: 100%; background: black url('https://images.hdqwalls.com/download/travel-hd-1280x800.jpg') no-repeat ; background-size:cover; box-shadow:inset 0 -1px 5px rgba(0,0,0,0.6);">

    <main>
    
    <div class="container">
        <div class="row align-items-center">
       
            <div class="col-12">
                
                    <h1>I nostri Viaggi</h1>

                </div>
            </div>
       
                <p>Ricerca per titolo/descrizione</p>
                <input id="search_input" type="text" placeholder="Cerca per titolo...">


    <div class="row">

        <div class="col-6">

            <div>
                

            </div>
        </div>

    </div>
    <div id="viaggio-wait" class="row js_wait_viaggio text-center">
        <div class="col-12">
            <h3>Sto aspettando i viaggi ...</h3>
        </div>
    </div>
    <div id="no-viaggio-div" class="row js_no_viaggio text-center d-none">
        <div class="col-12">
            <h3>Non è presente alcun pacchetto</h3>
        </div>
    </div>
    <div id="viaggio-div" class="row js_viaggio_cards">
        <!-- qui verranno mostrati gli elementi -->
    </div>
        <div class="row">
            <div class="col-6">
                <div class = "row mt-3 justify-content-center">
                    <div class ="col-4 justify-content-center mb-5">
                        
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <h1>Inserisci un nuovo pacchetto!</h1>
                    
                </div>
                <div class="d-flex align-items-center">
                              
                    <h2>Compila il Form</h2>
                </div>
                <form onsubmit="richiestaInformazione(event)" method="post">
                    @Html.AntiForgeryToken()
                    <div class="col-3 mb-3">
                        <h5>Nome:</h5>
                        <input type="text" class="d-block w-100 text-black" id="nome"  />
                        
                    </div>
                    <div class="col-3 mb-5">
                        <h5>Cognome:</h5>
                        <input type="text" class="d-block w-100 text-black" id="cognome"  />
                        
                    </div>
                    <div class="col-3 mb-3">
                        <h5>Email:</h5>
                        <input type="text" class="d-block w-100 text-black" id="email" placeholder="pinco@gmail.com"  />
                       
                    </div>
                    <div class="col-3 mb-3">
                        <h5>Telefono:</h5>
                        <input type="text" class="d-block w-100 text-black" id="telefono" placeholder="3xxxxxxxxx"  />
                       
                    </div>
                    <div class="col-3 mb-3">
                        <h5>Descrizione:</h5>
                        <textarea type="text" rows="10" class="d-block w-100" id="testo"></textarea>
                       
                    </div>
                    <div class="text-start">
                        <input type="submit" class="btn btn-small btn-primary" value="Salva">
                    </div>
                

                </form>
            </div>
        </div>
    </div>

@section Scripts {

    <script type="text/javascript">

        dettagliUtente();
       
        function dettagliUtente(){
            var url = window.location.pathname;
            var id = url.substring(url.lastIndexOf('/') + 1);
            parseInt(id);
            
            axios.get('/api/Viaggis/DettagliUtente/' + id).then((result) => {
                // Codice che verrà eseguito quando arrivano i dati dalla mia web api

                    
                        document.getElementById('viaggio-div').innerHTML += 
                            `
                            <div class="row text-center mt-5 justify-content-center">
                            
                                <div class ="col-5 d-inline-block">
                                <div class="card shadow mb-5 bg-body rounded">
                                    <img src="${result.data.foto}" class="card-img-top" alt="primaFoto">
                                    <div class="card-body p-0 pb-0">
                                        <h6 class="card-title text-uppercase bg-primary pb-2 pt-2 text-white ">${result.data.nome}</h6>
                                        <p class="card-text ps-2 pe-2 mb-4 mt-3"><small>${result.data.descrizione}</small></p>
                                    </div>
                                    <ul class="list-group list-group-flush pb-0 mb-2">
                                        <li class="list-group-item text-danger"><small>Prezzo:</small><br><span class="text-black fw-bold"><small>${result.data.prezzo}€</small></span><span class="text-secondary"></span></li> 
                                    </ul> 
                                </div>
                                
                            </div>

                            </div>

                            `
                        ;

            }

            ).catch((error) => {
                console.log("C'è stato un errore: " + error);
            })
        }
        
        function richiestaInformazione(event) {
            var url = window.location.pathname;
            var idUtente = url.substring(url.lastIndexOf('/') + 1);
            parseInt(id);
            event.preventDefault();
            
            
            var nome = document.getElementById('nome').value;
            var cognome = document.getElementById('cognome').value;
            var email = document.getElementById('email').value;
            var testo = document.getElementById('testo').value;
            var informazioni = document.getElementById('testo').value;
            var id = 
            var nuovaRichiesta = {
                Nome: nome,
                Cognome: cognome,
                Email: email,
                Testo: informazioni,
                ViaggioId : idUtente
            }
            
            axios.post('/api/Informazioni/Post', nuovaRichiesta).then((result) => {
                console.log("Ho aggiunto la nuova richiesta");
                
                
                
            }).catch((error) => {
                console.log("Si è verificato un errore: " + error);
            })
        }
        

        
    </script>

}
    
    </main>
</body>
