
<body style="position:relative; height: 100%; background: black url('https://images.hdqwalls.com/download/travel-hd-1280x800.jpg') no-repeat ; background-size:cover; box-shadow:inset 0 -1px 5px rgba(0,0,0,0.6);">

    <main>

    <div class="container">
        <div class="row align-items-center">
       
            <div class="col-12">
                
                    <h1>I nostri Viaggi</h1>

                </div>
            </div>
       
                <p>Ricerca per titolo/descrizione</p>
                <input id="search_input" type="text" placeholder="Cerca per titolo...">

       
    </div>

    <div class="row">

        <div class="col-6">

            <div>
                
            </div>
        </div>

    </div>
    <div id="viaggio-wait" class="row js_wait_viaggio text-center">
        <div class="col-12">
            <h3>Sto aspettando i viaggi ...</h3>
        </div>
    </div>
    <div id="no-viaggio-div" class="row js_no_viaggio text-center d-none">
        <div class="col-12">
            <h3>Non è presente alcun pacchetto</h3>
        </div>
    </div>
    <div id="viaggio-div" class="row js_viaggio_cards d-none">
        <!-- qui verranno mostrati gli elementi -->
    </div>
</div>

@section Scripts {

    <script type="text/javascript">

        document.getElementById("search_input").addEventListener('keyup', searchItems);

        searchItems();

        function searchItems(){
            var inputText = document.getElementById('search_input').value;
            loadViaggis(inputText);
        }

        function loadViaggis(searchParameter){
            document.getElementById('viaggio-div').innerHTML = '';

            axios.get('/api/Viaggis/Get', {
                params : {
                    search : searchParameter
                }
            }).then((result) => {
                // Codice che verrà eseguito quando arrivano i dati dalla mia web api
                console.log("Ecco i tuoi pacchetti!");

                if(result.data.length == 0){
                    document.getElementById('viaggio-wait').classList.add('d-none');
                    document.getElementById('no-viaggio-div').classList.remove('d-none');
                } else {
                    document.getElementById('no-viaggio-div').classList.add('d-none');
                    document.getElementById('viaggio-wait').classList.add('d-none');
                    document.getElementById('viaggio-div').classList.remove('d-none');

                    result.data.forEach(viaggios => {
                        document.getElementById('viaggio-div').innerHTML += 
                            `
                            <div class="row text-center mt-5 justify-content-center">
                            
                            <div class ="col-5 d-inline-block">
                            <div class="card shadow mb-5 bg-body rounded">
                                <img src="${viaggios.foto}" class="card-img-top" alt="primaFoto">
                                <div class="card-body p-0 pb-0">
                                    <h6 class="card-title text-uppercase bg-primary pb-2 pt-2 text-white ">${viaggios.nome}</h6>
                                    <p class="card-text ps-2 pe-2 mb-4 mt-3"><small>${viaggios.descrizione}</small></p>
                                </div>
                                <ul class="list-group list-group-flush pb-0 mb-2">
                                    <li class="list-group-item text-danger"><small>Prezzo:</small><br><span class="text-black fw-bold"><small>${viaggios.prezzo}€</small></span><span class="text-secondary"></span></li> 
                                </ul> 
                            </div>
                            </div>

                            </div>

                            `
                    });
                }

            }

            ).catch((error) => {
                console.log("C'è stato un errore: " + error);
            });
        }
    
    </script>

    

}

    </main>
</body>
