<body>

    <main>

        <div class="row text-center justify-content-center gx-0 mt-5">
            <div class="col-12 col-sm-3">
                <div class="card shadow mb-5 bg-body rounded" style="width: 18rem;">
                    <img class="img-fluid" src=".\css/img/lista.jpg" class="card-img-top" alt="primaFoto">
                <div class="card-body p-0 pb-0">
                    <h6 class="card-title text-uppercase bg-primary pb-2 pt-2 text-white ">Lista pacchetti!</h6>
                    <p class="card-text ps-2 pe-2 mb-4 mt-3"><small>Visualizza la nostra lista pacchetti!</small></p>
                </div>
                <ul class="list-group list-group-flush pb-0 mb-2">
                    <a href="#" class="btn btn-primary">Visualizza!</a>
                </ul>    
                    
                </div>
            </div>

            <div class="col-12 col-sm-3">
                <div class="card shadow mb-5 bg-body rounded" style="width: 18rem;">
                    <img class="img-fluid" src=".\css/img/inserisci.jpg" class="card-img-top" alt="primaFoto">
                <div class="card-body p-0 pb-0">
                    <h6 class="card-title text-uppercase bg-primary pb-2 pt-2 text-white ">Lista pacchetti</h6>
                    <p class="card-text ps-2 pe-2 mb-4 mt-3"><small>Inserisci un nuovo pacchetto!</small></p>
                </div>
                <ul class="list-group list-group-flush pb-0 mb-2">
                    <a href="#" class="btn btn-primary">Inserisci!</a>
                </ul>    
                    
                </div>
            </div>
               
            <div class="col-12 col-sm-3">
                <div class="card shadow mb-5 bg-body rounded" style="width: 18rem;">
                    <img class="img-fluid" src=".\css/img/95082__testata_1280_.jpg" class="card-img-top" alt="primaFoto">
                    <div class="card-body p-0 pb-0">
                        <h6 class="card-title text-uppercase bg-primary pb-2 pt-2 text-white ">Richieste clienti</h6>
                        <p class="card-text ps-2 pe-2 mb-4 mt-3"><small>Visualizza le richieste dei clienti!</small></p>
                    </div>
                    <ul class="list-group list-group-flush pb-0 mb-2">
                        <a href="#" class="btn btn-primary">Informazioni!</a>
                    </ul>   
                    
                </div>
            </div>
        </div>

    </main>

</body>